@import "../variables";

.user-container {
  margin: $size-tiny;
  div:last-child {
    border-right: 0;
  }
  color:white;
}

#highscore {
  #high-score-list {
    .row {
      border-bottom: 1px solid $color-faded-white;
    }
  }
  h1 {
    margin: 0;
  }

  input {
    width: 100%;
  }

  div {
    .user-container {
      text-align: center;
      &:hover {
        background: $color-faded-white;
      }
    }
    .list-title{
      cursor: pointer;
      text-align: center;
    }
    .list-title:after{
      content: '\25be';
      padding: $size-tiny;
    }
    .ordered-by {
      font-weight: bold;
      border-bottom: 2px solid $color-primary-text;
    }

    padding: $size-small;
  }
}

#knapp{
  border: 2px solid royalblue;
  text-decoration: underline;
  width: 80px;
  cursor: pointer;
}
