@import "../../variables";


#name-suggestion-container {
  position: absolute;
  width: 15vw;
  @media screen and (max-width: 667px) {
    width: 40vw;
  }
  padding: 0 !important;

  display: inline-block;
  .col {
    background-color: $color-header;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .col:hover {
    background-color: $color-secondary;
  }
}
