@import '../variables';

.work-container{
  text-align: left;
  background-color: dodgerblue;
  margin: 1%;
}


button {
      width: 10%;
      float: right;
      margin: $size-small;
      padding: $size-small;
      border-radius: 25px;
}

.redButton {
  width: 10%;
  color: red;
  float: right;
  margin: $size-small;
  padding: $size-small;
  border-radius: 25px;
}

.notEnoughExp {
  color: red;
}
