@import '../variables';

#shop {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: default;
  flex-flow: row wrap;
  display: flex;

  hr {
    background-color: $color-secondary-text;
    height: 1px;
    border: 0;
  }
}

#shop-owned {
  h2 {
    text-align: center;
  }
  flex: 2.5;
  margin: 0 $size-medium;
  padding: $size-small;
  flex-flow: column wrap;
  display: flex;

  color: $color-secondary-text;
  background-color: $color-background-secondary;
  border-radius: $size-tiny;
}

#shop-owned-items {
  display: flex;
  flex-flow: column;
}

.owned-item {
  margin-bottom: $size-medium;
  align-items: left;
  flex-flow: row wrap;
  display: flex;

  .owned-item-info {
    width: 100%;
    flex-flow: row wrap;
    display: flex;

    .owned-item-img {
      border: 2px solid $color-border;
      margin: auto;
      padding: $size-small;
      flex: 2;

      display: block;
      background-color: $color-background-item;
      border-radius: $size-tiny;
      height: $size-HUGE;
    }

    button {
      border-radius: $size-tiny;
      flex: 3;

      min-height: $size-HUGE;
      font-size: $size-medium;
      color: white;
      background-color: $color-button-secondary;
      border: none;
    }
  }

  h3 {
    width: 100%;
    margin: $size-tiny;
    padding: $size-small;
  }
}

#shop-list {
  flex: 5.5;
  padding: $size-tiny;
  color: $color-secondary-text;
  background-color: $color-background-secondary;
  border-radius: $size-tiny;

  h2 {
    text-align: center;
  }
}


#shop-list {
  padding: $size-tiny;
  .item{
    display: inline-block;
    width:100%;
  }
  p{
    display: inline-block;
  }
  img {
    display: inline-block;
    background-color: #F1F0F0;
    border: 2px solid $color-border;
    border-radius: $size-tiny;
    height: $size-HUGE;
  }

  button {
    display: inline-block;
    min-width: 120px;
    min-height: $size-HUGE;
    font-size: $size-medium;
    color: white;
    background-color: $color-button;
    border: none;
  }
}

#shop-filter {
  margin: 0 $size-medium;
  color: $color-secondary-text;
  background-color: $color-background-secondary;
  border-radius: $size-tiny;
  flex: 2;
  padding: $size-small;
}
