@import "../variables";

#profile{
  height: 100%;
}

.side-element{
  border: 1px solid $color-primary-text;
  padding: $size-small;
}

.job-status {
  border-bottom: 1px solid $color-primary-text;
}

.job-status:last-child {
  border-bottom: none;
}

#pc, #car, #office{
  height: $size-HUGE + $size-HUGE;
}