@import "../variables";

html{
  background-color: $color-background;
}

body{
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: $color-background;
  color: $color-primary-text;
}

#content, nav {
  width: 70%;
  margin: 0 auto;
}

#header{
  padding: $size-medium 15%;
  background-color: $color-header;
  display: flex;
  flex-flow: row wrap;

  h1 {
    margin-top: $size-tiny;
    margin-bottom: $size-tiny;
  }

  p {
    margin: 0;
  }

  #header-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    a {
      min-height: $size-huge;
      min-width: $size-huge;
      display: flex;
      flex-direction: column;

      text-decoration: none;
      padding: 0 $size-medium;

      img {
        width: $size-HUGE;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }

      p {
        margin-top: $size-small;
        text-align: center;
        color: white;
      }
    }
  }
}

nav {
  display: flex;
  //flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;

}

.navbar {;
  width: 65%;

  a {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-decoration: None;
    font-size: 22px;
    color: white;
    text-align: center;
    //border-radius: 5px;
    flex-grow: 1;
    //background-color: $color-background-secondary;
    border-bottom: 2px solid white;
  }
}

#content {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 70vh;
}

#footer{
  padding: 20px 0;
  min-height: 50px;
  margin: 0 auto;
  background-color: $color-faded-white;

  .row {
    width: 70%;
  }
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $color-primary-text;
  color: $color-primary-text;
  font-size: $size-medium;
}

input::-moz-placeholder {
  color: $color-primary-light;
}
input::-ms-input-placeholder {
  color: $color-primary-light;
}
input:-moz-placeholder {
  color: $color-primary-light;
}
input::-webkit-input-placeholder {
  color: $color-primary-light;
}

*::selection {
  background-color: $color-primary-light;
}