// Variables

//Fonts
$font-default: Helvetica, Arial, sans-serif;

// Colors
$color-primary: #28C2FF;
$color-primary-light: #AFD2E9;
$color-secondary: #639FAB;
$color-header: #34495E;
$color-background: #3498DB;
$color-background-secondary: rgba(236, 240, 241, .5);
$color-html: lightgray;
$color-faded-white: rgba(256, 256, 256, 0.3);

$color-primary-text: white;
$color-secondary-text: #333;

// Flat ui colors for elements such as buttons, boxes
$color-flat-ui-red: #E74C3C;
$color-flat-ui-yellow: #F1C40F;
$color-flat-ui-green: #E74C3C;
$color-border: #979797;
$color-button: #E67E22;
$color-button-secondary: #95a5a6;
$color-background-item: #F1F0F0;

// Sizes
$size-tiny: 0.25rem;
$size-small: 0.5rem;
$size-medium: 1rem;
$size-large: 2rem;
$size-huge: 3rem;
$size-HUGE: 4.5rem;